<table style='width:100%;'>
  <tr>
    <td><h1>{{ subject[0] }}</h1></td>
  </tr>
  <tr>
    <td>{{ subject[1] }}</td>
    <td>{{ subject[2] }}</td>
  </tr>
  <tr>
    <td>Total</td>
    <td>Attack</td>
    <td>Defense</td>
    <td>Sp. Attack</td>
    <td>Sp. Defense</td>
    <td>Speed</td>
    <td>HP</td>
  </tr>
  <tr>
    <td>{{ subject[3] }}</td>
    <td>{{ subject[4] }}</td>
    <td>{{ subject[5] }}</td>
    <td>{{ subject[6] }}</td>
    <td>{{ subject[7] }}</td>
    <td>{{ subject[8] }}</td>
    <td>{{ subject[9] }}</td>
  </tr>
