<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Linking out to include Bootstrap  -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 ">

          <h1>You've refreshed the database!</h1>

          <h2>I hope you meant to do that, because it can't be undone.</h2>

          <p>All the parties created so far have been removed from the database. All the pokemon are still there if you want to make new ones!</p>

          <a href='/'>Head back to the home page</a>
        </div>
      </div>
    </div>
  </body>
</html>
