<h1>Create your team</h1>

<h2>Current team members</h2>

<table>
{% for pokemon in team_members %}
  <tr>
    <td><a href='/details/{{ pokemon }}'>{{ pokemon }}</a></td>
    <td><a href='/delete/{{ teamname }}/{{ pokemon }}'>Delete from team</a></td>
  </tr>
{% endfor %}
</table>

{% if teamsize == 6 %}
<p>Your party is full! You need to remove a Pokemon before you can add another.</p>
{% endif %}

{% if error %}
<h3>{{ error }}</h3>
{% endif %}

{% if teamsize < 6 %}
<form method="post">
 <fieldset>
   <legend>Add a Pokemon:</legend>
   Search by Name:<br>
   <input type="text" name="name"><br>
   <input type="submit" value="Submit">
 </fieldset>
</form>
{% endif %}

{% if missing_resistances %}
<p>Types this party has no resistance to:</p>
<ul>
{% for type in missing_resistances %}
  <li>{{ type }}</li><br>
{% endfor %}
</ul>
{% endif %}

{% if not missing_resistances %}
<p>This party has a resistance against every type. Nice job!</p>
{% endif %}


<a href='/'>Return to the home page</a>
